.sidebar {
  position: static;
  float: left;
  background: #FFFFFF;
  height: 100%;
  width: 25%;
}

.sidebar .banner {
  width: 100%;
  height: 15%;
  background-color: #CC0000;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  padding: 10px 16px 10px 16px;
}

.sidebar .title {
  color: rgba(0, 0, 0, 1);
  font-size: 25px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all .25s;
  margin-right: 12px;
}

.sidebar .content {
  background: #0080cd;
  height: 85%;
  width: 100%;
  overflow-y: scroll;
}

.sidebar .searchBar {
  align-items: center;
  background-color: transparent;
  color: rgba(0, 0, 0, .34);
  display: flex;
  font-size: 14px;
  font-weight: bold;
  height: 32px;
  padding: 0 16px;
  padding-top: 8px;
  text-transform: uppercase;
}
